.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  // background-color: #EEE7DD;
  background: linear-gradient(#ede1d0, #fff);
  // background: linear-gradient(#cbabf5, #cef6ae);
}

// #root {
// max-width: 1024px; // Helps make page look better on BIG screens, also gives max image size */
// min-width: 320px; // Avoid content smashing with very small windows */
// margin: 0 auto;
// }

/* =============================================== */