.about-page {
  // width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .text-about {
    display: flex;
    flex-direction: column;
  }
  .email {
    text-decoration: none;
    color: #E9E9E9;
  }
  .email:hover {
    color: black;
  }
  .link {
    margin-right: 80rem;
    display: flex;
    justify-content: space-between;
    
  }
  .link-one {
    color: #E9E9E9;
    text-decoration: none;
    border: 2px #E9E9E9 solid;
    border-radius: 55px;
    font-size: 18px;
  }
  .link-one:hover {
    color: black;
    border: 2px black solid;
  }
  .link-two {
    color: #E9E9E9;
    text-decoration: none;
    border: 2px #E9E9E9 solid;
    border-radius: 55px;
    font-size: 18px;
  }    
  .link-two:hover {
    color: black;
    border: 2px black solid;
  }
  .skills {
    margin-right: 80rem;
  }
  .img {
    width: 20vw;
    margin: 70px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
}